@import ../../styles/_reusableClasses
@import ../../styles/_typography
@import ../../styles/_colors

.profile
	position: relative
	padding-top: 3.5rem

	&__container
		row-gap: 2rem
		z-index: 1

	&__data
		display: grid
		text-align: center
		justify-items: center

	&__perfil
		width: 100px
		height: 100px
		background: linear-gradient(180deg,hsla(199, 97%, 74%, 1) 0%, hsla(199, 97%, 74%, 0.2) 100%)
		border-radius: 50%
		overflow: hidden
		display: flex
		align-items: flex-end
		justify-content: center

		img
			width: 90px

	&__border
		border: 3.5px solid hsla(199, 97%, 74%, 1)
		justify-content: center
		width: 115px
		height: 115px
		border-radius: 50%
		display: grid
		place-items: center
		margin-bottom: .75rem

	&__name
		font-size: $--h2-font-size

	&__profession
		font-size: $--smaller-font-size
		font-weight: 500
		color: $--text-color
		margin-bottom: 1rem

	&__social
		display: flex
		justify-content: center
		column-gap: .75rem

	&__socialLink
		margin-top: .5rem
		font-size: 2rem
		color: $--title-color
		transition: .3s
		&:hover
			color: $--first-color

	&__info
		grid-template-columns: repeat(3, max-content)
		justify-content: center
		column-gap: 1.5rem

	&__infoGroup
		text-align: center
		p
			width: 80px

	&__infoNumber
		font-size: $--normal-font-size
		margin-bottom: .25rem

	&__infoDesctiption
		font-size: $--smaller-font-size
		font-weight: 500

	&__buttons
		column-gap: 1rem

	&__buttonsSmall
		column-gap: .25rem

	&__buttons, &__buttonsSmall
		display: flex
		align-items: center
		justify-content: center

.button
	display: inline-flex
	align-items: center
	column-gap: .5rem
	background: radial-gradient(circle at top left, rgba(255,255,255,0.1), rgba(0,0,0, 0.1)), url(../../public/noise.svg)
	color: $white
	padding: 1.15rem 1.5rem
	border-radius: .625rem
	transition: .3s
	backdrop-filter: blur(5px)
	box-shadow: inset 0px 0px 0px 1px rgba( 0, 0, 0, 0.02 ), inset 0px 0px 0px 1px rgba( 255, 255, 255, 0.08 )
	box-sizing: border-box
	position: relative
	transform-style: preserve-3d

	&:hover
		background: radial-gradient(circle at top left, rgba(255,255,255,0.15), rgba(0,0,0, 0.15)), url(../../public/noise.svg)

	&__small
		padding: .75rem

	i
		font-size: 1.25rem
